#dashboard {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;

	#pies {
		display: flex;
		justify-content: space-between;
		flex-basis: 100%;
		margin-bottom: 20px;

		.card {
			width: 49%;
		}
	}

	#account-balance-chart-wrapper {
		width: 100%;

		.account-balance-chart-container {
			height: 500px;
			width: 100%;
		}
	}

	.card .heading {
		display: flex;
		justify-content: space-between;
		align-items: center;

		label {
			margin: 0;
		}
	}
}
